@import "bootstrap";

body {
  background: image_url('pow-star')
}

h1 {
  color: green;
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}